.text-side{
    flex-grow: 1;
    width:50%;
    padding:30px;
}

.media-side{
    flex-grow: 1;
        width:50%;
        padding:20px;
}

.section{
    padding:50px;
 
}

.section-yellow{
  background-color: #FEFAF3;
  text-align:center;
  

}

.width-500{
    width:500px;
    margin: 0 auto;

   
}