

.logo {
    height: 50px;

}

//********************************
//*** NAV BAR
//********************************

.nav {
    display: flex;
    justify-content: space-between;
      flex-wrap: wrap;
    background-color: #FEFBF4;

    padding:10px 10px 0px 10px;
    margin-bottom: 60px;
}
.nav-bar {
    display: flex;
  
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
   
}

.nav-item {
    padding: 10px;
    list-style: none;
    font-size:16px;
    color:#E4C82B;
    text-decoration:none;

    
}

.selected{
    border-bottom:2px solid #E4C82B;
}

.selected-button{
    border-bottom:none;
}

.invert{
    background-color:#E4C82B;
    color:white;
    border:2px solid #E4C82B;
     
}


.nav-item :focus, .nav-item :hover, .nav-item :visited, .nav-item :link, .nav-item :active {
        text-decoration: none;
    }

    .icon{
        color:#E4C82B;
    }

//********************************
//*** USER NAV BUTTON
//********************************
    .user-btn{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color:white;
        border:1px solid #E4C82B;
        border-radius:100px;
        padding:8px;
        width:80px;
        cursor:pointer;
    }

  .item{
      font-family:inherit;
  }

  hr{
      color:white;
  }

  .ui.inline.dropdown .menu{
 
      border-radius:10px;
           padding:20px;  
          
      
  }

.ui.inline.dropdown {


       padding-right:50px;  
         padding-left:30px; 
  
  }

  .ui.dropdown .menu > .item{
 font-size: 1.6rem;
  }
