.user-infos{
    padding:30px;
    background-color: #FEFBF4;
    width:260px;
}

img{
height:300px;
}

.portfolio-profile{
    height:200px;
    padding:0;
}

.edit{
 position:relative;
 top:0px;
 left: 100%;
}