.text-side{
    flex-grow: 1;
    width:50%;
    padding:30px;
}

.media-side{
    flex-grow: 1;
        width:50%;
        padding:20px;
}

.section{
    padding:50px;
 
}

.section-yellow{
  background-color: #FEFAF3;
  text-align:center;
  

}

.width-500{
    width:500px;
    margin: 0 auto;

   
}


.home .user-image-container{
    flex-shrink: 0;
    height:80px;

}

.home .user-image{
    border-radius: 100%;
    height:100%;
}