/* ================================= Reset */

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================================= Reset End */


//STYLING

h1 {
  font-family: inherit;
  font-style: normal;
  font-size: 46px;
  letter-spacing: .4px;
  text-transform: none;
  line-height: 1.2em;
  color: #302551;
}

@media only screen and (max-width: 680px) {
  h1 {
  font-size: 30px;
}

}

strong {
  color: #e4c82b;
  font-weight: bold;
}

.text {

  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.7em;
  color: rgba(12, 8, 37, .55);
  margin: 0em 0em 1em;
}


.color-secondary {
  color: #302551;
}

.listing {
  margin-left: 30px;
  margin-bottom: 30px;
}

.list-item {
  list-style-type: none;
  font-size: 25px;
}


h5 {
  background: #302551;
  display: inline;
  color: #fff;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 4;
  font-style: normal;
  font-size: 15px;

  border-style: solid;
  white-space: nowrap;
  padding: 10px 20px;
}



form {
  width: 400px;
}